/*globales*/

/*recordar que parte de la configuracion actual del navegador 
slider esta involucrado al la confiuracion del navegadro del header
como por ejemplo el display flex*/

body {
    font-family: arial;
    color: #fff;
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

a {
    color: inherit;
    text-decoration: none;
}

/*sticky footer*/
.wrap{
    display: flex;
    flex-direction: column;
    height: 100vh;
}   


/*header*/
header {
    background: rgb(202, 224, 121);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;/*afecta al slider*/
    
}

nav li {
    padding: 25px;
}

/*main*/
main {
    background: rgb(53, 55, 59);
    flex-grow: 1;
    
}

.slide_X {
    width: 50%;
    overflow: hidden;
    margin: auto;
    border: 5px solid red;
    
}

.slide_X ul{
    width: 600%;
    animation: slider 18s infinite alternate;
    animation-timing-function: linear;
}

.slide_X li{
    width: 100%;
}

.slide_X img{
    width: 100%;
    
}


/*footer*/
footer {
    background: rgb(18, 85, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@keyframes slider {
    0% {margin-left: 0;}
    14% {margin-left: 0;}

    16.6% {margin-left: -100%;}
    30% {margin-left: -100%;}
    
    33.2% {margin-left: -200%;}
    47% {margin-left: -200%;}

    49.8% {margin-left: -300%;}
    64% {margin-left: -300%;}

    66.4% {margin-left: -400%;}
    80% {margin-left: -400%;}

    83% {margin-left: -500%;}
    100% {margin-left: -500%;}
}


